*.class
*.log

//IDE stuff
.metals*
.bsp*
.bloop

//Windows stuff
*~

//from gitignore.io for sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log
