*.class
*.log

//IDE stuff
.bloop
.bsp*
.metals*
project/metals.sbt

//Windows stuff
*~

//from gitignore.io for sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/project/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

// ??
null/
